* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: black;
}

li {
  list-style: none;
}

input {
  outline: none;
}

html {
  font-size: 10px;
}

.header-wrap {
  height: 56px;
  background-color: #2189bf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  margin-left: 45px;
}

.right-box {
  display: flex;
  align-items: center;
  height: 100%;
}


.search {
  width: 290px;
  height: 26px;
  padding-left: 30px;
  border: 1px solid white;
  border-radius: 30px;
  background: white url(images/search.png) no-repeat 10px 50%;
  transition: width 0.5s;
}

.search:focus {
  width: 340px;
}

.login {
  line-height: 24px;
  margin: 0 80px 0 21px;
  padding-left: 20px;
  font: 1.2rem "黑体";
  color: white;
  background: url(images/login.png) no-repeat;
}

.wrap {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  /*height: 100%;*/
  background-color: #2a2e3d;
}

.user {
  height: 130px;
  margin: 18px 45px 0;
}

.avatar {
  vertical-align: middle;
}

.username {
  margin-left: 20px;
  font: 1.6rem "黑体";
  color: white;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin: 35px 15px 0;
  background: url(images/divided.png) no-repeat 50% 96%;
}

.detail {
  font: 1.2rem "宋体";
  text-align: center;
  color: #6a7c90;
}

.detail-count {
  font: 1.6rem "黑体";
}

.option {
  margin-top: 26px;
}

.option > li {
  padding: 18px 0 18px 50px;
}

.option-a {
  display: block;
  cursor: pointer;
  font: 1.2rem "黑体";
  color: #67778b;
}

.report {
  background: #383d4e url(images/report.png) no-repeat 50px 21px;
}

.report-t {
  display: block;
  padding: 2px 0 0 22px;
  color: white;
}

.report-list li {
  margin: 15px 0 0 20px;
}

.doc-1,
.doc-3 {
  padding-left: 16px;
  background: url(images/blackarrow.png) no-repeat 3px 2px;
}

.doc-1-a,
.doc-3-a {
  display: block;
  padding-left: 20px;
  padding-top: 1px;
  background: url(images/noactivedoc.png) no-repeat 3px 2px;
}

.doc-2 {
  padding-left: 16px;
  background: url(images/whitearrow.png) no-repeat 0 3px;
}

.doc-2-a {
  padding-left: 20px;
  color: white;
  background: url(images/activedoc.png) no-repeat 3px;
}

.doc-2-1-a {
  color: #fff;
  padding-left: 15px;
  background: url(images/whitedoc.png) no-repeat;
}

.doc-2-2-a {
  padding-left: 15px;
  background: url(images/blackdoc.png) no-repeat;
}

.doc-3 {
  padding-bottom: 15px;
}

.star-a,
.share-a,
.acc-a {
  padding-left: 22px;
}

.star-a {
  background: url(images/star.png) no-repeat;
}

.share-a {
  background: url(images/share.png) no-repeat;
}

.acc-a {
  background: url(images/acc.png) no-repeat;
}

.star:hover,
.acc:hover,
.share:hover {
  background-color: #383d4e;
}

.nav {
  height: 20px;
  padding: 10px 0 0 30px;
}

.path {
  font: 1.2rem "黑体";
  color: #b7b7b7;
}

.end-path {
  color: #6898c2;
}

.content-wrap {
  width: 890px;
  padding: 20px 60px 156px;
  background: #ededed;
}

.content-search {
  height: 86px;
  background-color: white;
}

.form-list {
  display: flex;
  padding-top: 15px;
}

.form-list > li {
  padding-left: 30px;
}

.select-name {
  padding-right: 10px;
  font: 1.2rem "黑体";
  color: #bdbdbd;
}

.select {
  height: 24px;
  padding-left: 4px;
  font: 1.2rem "黑体";
}

.query-select {
  width: 69px;
  height: 24px;
  padding-left: 4px;
  font: 1.2rem "黑体";
}

.exchange {
  padding-right: 30px;
  background: url(images/exchange.png) no-repeat 100% 50%;
}

.buyer {
  margin-bottom: 7px;
}

.exchange-select {
  width: 119px;
}

.top-box {
  margin-bottom: 7px;
}

.date-select {
  width: 119px;
  margin-right: 10px; 
}

.time-select {
  width: 69px;
}

.number-select {
  width: 68px;
  margin-right: 10px;
}

.item-select {
  width: 120px;
}

.query-submit {
  margin-top: 14px; 
  width: 51px;
  height: 26px;
  border: none;
  font: 1.2rem "黑体";
  color: white;
  background: #388ac1;
}

.history {
  display: flex;
  justify-content: space-between;
  height: 63px;
  margin-top: 10px;
}

.left,
.right {
  display: block;
  width: 28px;
  height: 63px;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  cursor: pointer;
}

.left {
  background: #fff url(images/left.png) no-repeat 50% 50%;
}

.right {
  background: #fff url(images/right.png) no-repeat 50% 50%;
}

.right:active,
.left:active {
  border: none;
  border-top: 1px solid #cbcbcb;
  border-left: 1px solid #cbcbcb;
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 108px;
  height: 62px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.record-date {
  padding-top: 10px;
  font: 1.2rem "微软雅黑";
}

.record-value {
  padding: 10px 0 0 14px;
  font: 2.1rem "微软雅黑";
  color: #ec6500;
  background: url(images/rmb.png) no-repeat 0 85%;
}

.record:hover {
  background: #fff url(images/blueline.png) no-repeat;
}

.historyquery {
  height: 100%;
  padding: 0 26px 0 56px;
  font: bold 1.2rem "微软雅黑";
  color: black;
  background: #fff url(images/history.png) no-repeat 10px 50%;
  border: none;
  cursor: pointer;
}

.statistics {
  margin-top: 20px;
}

.statistics-date {
  font: bold 1.2rem "微软雅黑";
}

.kinds {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.kind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  height: 72px;
  background-color: white;
}

.kind-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 12px;
}

.kind-number {
  font: bold 1.2rem "黑体";
}

.kind-text {
  font: 1rem "黑体";
  color: #aaa;
}

.kind-color {
  width: 61px;
  height: 41px;
  margin-right: 30px;
}

.green {
  border-left: 4px solid #43b29e;
}

.green .kind-color {
  background-color: #43b29e;
}

.blue {
  border-left: 4px solid #398bc2;
}

.blue .kind-color {
  background-color: #398bc2;
}

.red {
  border-left: 4px solid #d04b36;
}

.red .kind-color {
  background-color: #d04b36;
}

.yellow {
  margin-right: 0;
  border-left: 4px solid #e2cd46;
}

.yellow .kind-color {
  background-color: #e2cd46;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tabs {
  width: 530px;
  height: 355px;
  border: 1px solid #cfd1d4;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.project-t {
  padding: 10px 0 10px 15px;
  font: 1.2rem "微软雅黑";
  color: #aaa;
  background-color: #f4f5f7;
}

.tabs-ul {
  position: relative;
  display: flex;
  width: 491px;
  margin: 14px auto 0;
}

.tabs-ul > li {
  margin-right: 5px;
}

.tab-input {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  z-index: 0;
  width: 84px;
  height: 20px;
  padding-top: 6px;
  border: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  text-align: center;
}

.contentbox {
  display: none;
  position: absolute;
  z-index: 1;
  top: 27px;
  left: 0;  
  width: 489px;
  height: 251px;
  border: 1px solid #cbcbcb;
  border-radius: 0 5px 5px 5px;
}

.tab-input:checked ~ .contentbox {
  display: block;
}

.tab-input:checked + .tab-label {
  z-index: 2;
  border: 1px solid #cbcbcb;
  border-bottom: 1px solid white;
  background-color: white;
}

.table {
  margin: 20px auto 0;
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
}

.table td {
  padding: 8px 15px;
  border: 1px solid #cbcbcb;
  font: 1.2rem "宋体";
  color: #535353;
}

.table td:hover {
  background-color: #e9e9e9;
}

.pro {
  width: 350px;
  height: 355px;
  border: 1px solid #cfd1d4;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  font: 1.2rem "微软雅黑";
}

.project-title {
  padding: 10px 0 10px 15px;
  color: #c3c2c2;
  background-color: #f4f5f7;
}

.project-top-box,
.project-middle-box,
.project-down-box,
.project-footer {
  margin: 0 35px;
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.title {
  margin-top: 10px;
  color: #c3c2c2;
}

.title-name {
  margin: 5px 0;
  color: #535353;
}

.project-middle-box {
  display: flex;
}

.price {
  padding: 5px 45px 0 0;
  border-right: 1px solid #e7e7e7;
}

.price-item {
  color: #c3c2c2;
}

.price-value {
  color: #535353; 
  padding-top: 3px;
  padding-bottom: 5px;
}

.officer {
  margin: 5px 0 0 10px;
}

.officer-item {
  color: #c3c2c2;
}

.officer-name {
  color: #535353;
  margin-top: 3px;
}

.project-down-box {
  height: 144px;
  border-bottom: 1px solid #e7e7e7;
}

.describe {
  margin-top: 5px;
  color: #c3c2c2;
}

.responser {
  margin-top: 5px;
  color: #535353;
}

.project-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: none;
}

.protocol {
  display: none;
}

.protocol-label {
  display: inline-block;
  padding-left: 20px;
  background: url(images/violate.png) no-repeat;
  font: 1.2rem "微软雅黑";
  color: #c3c2c2;
}

.protocol:checked + .protocol-label {
  background: url(images/obey.png) no-repeat;
}

.project-search {
  display: inline-block;
  border: none;
  margin-left: 100px;
  width: 51px;
  height: 26px;
  color: white;
  background-color: #388ac1;
}

.last-box {
  display: flex;
  height: 357px;
  margin-top: 8px;
}

.calendar {
  width: 349px;
  height: 355px;
  border: 1px solid #d8d9db;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.calendar-title,
.ladder-title {
  height: 28px;
  padding: 13px 0 0 16px;
  font: 1.2rem "微软雅黑";
  color: #aaa;
  background-color: #f5f5f5;
}

.calendar-select,
.calendar-week,
.calendar-day {
  margin: 0 20px;
}

.calendar-select {
  display: flex;
  height: 21px;
  margin-top: 10px;
}

.calendar-select > li {
  margin-right: 5px;
}

.select-year,
.select-month,
.select-date {
  height: 21px;
  -webkit-appearance: none;
}

.select-year > option,
.select-month > option,
.select-date > option {
  font: 1.2rem "黑体";
}

.select-year {
  width: 69px;
  padding: 0 16px 0 3px;
  background: url(images/select.png) no-repeat 50px;
}

.select-month {
  padding: 0 29px 0 17px;
  background: url(images/month-select.png) no-repeat;
}

.select-date {
  width: 79px;
  padding: 0 20px 0 3px;
  background: url(images/select.png) no-repeat 60px;
}

.date-back {
  width: 64px;
  height: 21px;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid #c3c3c3;
}

.calendar-week {
  display: flex;
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 10px;
}

.calendar-week > li {
  padding: 5px 16px;
  font: 1.2rem "黑体";
  color: #535353;
}

.calendar-day {
  margin-top: 5px;
  border-spacing:  4px;
}

.calendar-day td {
  width: 38px;
  height: 38px;
  border: 1px solid white;
  font-size: 1.2rem;
  text-align: center;
}

.day-span {
  color: #cd3539;
}

td.yellowborder {
  border-color: #f5c62b;
}


.ladder {
  width: 531px;
  height: 355px;
  margin-left: 6px;
  border: 1px solid #d8d9db;
  border-radius: 5px;
  background-color: white;
  overflow: hidden; 
}

.ladder-table {
  margin: 14px auto 0;
  border: 1px solid #d8d9db;
  border-bottom: none;
  border-collapse: collapse;
}

.ladder-table td,
.ladder-table th {
  border: 1px solid #d8d9db;
  border-bottom: none;
  text-align: center;
}

.ladder-table th {
  border: 1px solid #d8d9db;
  border-bottom: none;
  height: 26px;
}

.ladder-table th:nth-child(1) {
  width: 65px;
}

.ladder-table th:nth-child(2) {
  width: 89px;
}

.ladder-table th:nth-child(3) {
  width: 259px;
  padding-left: 30px;
  text-align: left;
}

.ladder-table td {
  height: 23px;
}

.ladder-table td:nth-child(3) {
  text-align: left;
  text-indent: 30px;
}

.ladder-table tr:nth-child(2) td:nth-child(3) {
  background: url(images/ladder_1.png) no-repeat 80%;
}

.ladder-table tr:nth-child(3) td:nth-child(3) {
  background: url(images/ladder_2.png) no-repeat 80%;
}

.ladder-table tr:nth-child(4) td:nth-child(3) {
  background: url(images/ladder_3.png) no-repeat 80%;
}

.ladder-table tr:nth-child(5) td:nth-child(3) {
  background: url(images/ladder_4.png) no-repeat 80%;
}

.ladder-table tr:nth-child(6) td:nth-child(3) {
  background: url(images/ladder_5.png) no-repeat 80%;
}

.ladder-table tr:nth-child(7) td:nth-child(3) {
  background: url(images/ladder_6.png) no-repeat 80%;
}

.ladder-table tr:nth-child(8) td:nth-child(3) {
  background: url(images/ladder_7.png) no-repeat 80%;
}

.ladder-table tr:nth-child(9) td:nth-child(3) {
  background: url(images/ladder_8.png) no-repeat 80%;
}

.ladder-table tr:nth-child(10) td:nth-child(3) {
  background: url(images/ladder_9.png) no-repeat 80%;
}

.ladder-table tr:nth-child(11) td:nth-child(3) {
  background: url(images/ladder_10.png) no-repeat 80%;
}

.ladder-table tr:hover {
  background-color: #f4f5f6;
}
